/* Allgemeine Zurücksetzung von Padding, Margin und Box-Sizing für alle Elemente */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Anpassungen für mobile Geräte */
  html {
    height: -webkit-fill-available;
  }
  
  /* Schriftart und Hintergrundanpassungen für den Body */
  body {
    font-family: Arial;
    color: #111111;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: -webkit-fill-available;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C0C0C0; /* Blaue Hintergrundfarbe */
  }
  
  .navigation li {
    float: right;
  }
  
  .navigation li a {
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 20px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Stil für Links und besuchte Links */
  a:link,
  a:visited {
    color: #fff;
  }
  
  /* Stil für Überschrift h1 */
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    font-size: 32px;
  }
  
  /* Stil für Überschrift h2 */
  h2 {
    text-align: left;
    margin-top: 3%;
    margin-left: 20px;
    font-size: 24px;
  }
  
  /* Stil für Überschrift h3 */
  h3 {
    font-size: 18px;
  }
  
  /* Stil für Absätze */
  p {
    font-size: 16px;
  }
  
  /* Stil für das Logo */
  .logo {
    width: 12%;
    height: 12%;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    top: 50px;
    margin: 0.5em;
  }
  
  /* Stil für den Footer */
  footer {
    display: block;
    height: 150px;
    width: 100%;
    margin: 0;
    background-color: #6495ed;
    color: #fff;
    padding: 20px 0; /* Hinzugefügt, um den Inhalt innerhalb des Footers zu zentrieren */
    margin-top: auto;
  }
  
  /* Stil für Tabellen im Footer */
  footer table {
    width: 100%;
    padding-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  